/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET unnecessary Next.ts default variables */
:root {
  --foreground-rgb: 0, 0, 0;
}

/* GLOBAL STYLES */
body {
  @apply bg-gray-50 text-black antialiased;
}
